## systemd startup script to autostart
## the python script that runs this art piece
# by Seth Kenlon for MakerBox.org.nz
#
# after installing this file, run this command:
# $ sudo systemctl enable homewifi
# 

[Unit]
Description=Home_is_Where_the_Wifi_Is Startup

[Service]
Type=idle
ExecStart=/usr/local/bin/homewifi.py

[Install]
WantedBy=multi-user.target